---
title: Home
description: "The community guide to Singapore biodiversity. Discover native plants and animals, learn about local conservation, and explore our wild spaces."
keywords: "index, flora, fauna, animal, plant, guide, biology, ecology, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info, photo, Singapore biodiversity resources learning Singapore Biodiversity Records NParks City Nature Challenge biodiversity guide, Singapore biodiversity educational resources NParks Biodiversity Week for Schools"
layout: none
---

<style>

#sect-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:2rem;
            margin:0;
        }

        section{
            min-height:400px;
            height:fit-content;
            margin-top:6rem;
        }
        .article-summary-item{
            margin-bottom:1rem;
            display:block;
            color:var(--color-text);
            border-bottom:1px solid var(--color-border);
            padding-bottom: 1rem;
        }
        .article-summary-item h3{
            font-weight: bold;
        }
        .article-summary-item p{
            margin:0;
            font-weight: lighter;
        }
        .text-container{
            margin-top:2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:4rem;
            width: 100%;
        }
        .flex{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:2rem;
            width: 100%;
        }
        .icon-container{
            height:fit-content;
            aspect-ratio: 1;
            font-size:3rem;
            color:var(--color-accent-green);
        }
        
        .hero-btn{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:1rem;
            width: 200px;
            padding:20px 0;
            border: 1px solid var(--color-border);
            border-radius: 10px;
            color: black;
            text-decoration: none;
            text-align:center;
            transition:background-color,color 0.2s;
        }
        .hero-btn:hover{
            background-color: var(--color-section-head) !important;
            text-decoration:none;
            color:white;
            border:none;
        }
        .hero-btn:hover .icon-container{
            color:white;
        }
        .random-container{
            height: 25vh;
            width: 100%;
            background-color: black;
            display:flex;
        }
        .random{
            width: 25%;
            position: relative;
            height:100%;
        }
        .random > a{
            pointer-events:none;
        }
        .random img{
            height:100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .random .caption{
            position: absolute;
            bottom:0;
            right:0;
            background-color: black;
            padding:0.5rem;
            color:white;
            font-size: 12px;
            margin:0;
        }

    #other-random{
        margin-top:2rem;
        height: fit-content;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(min(60px, 100%), 1fr));
    }

    #other-random .random{
        width: 100%;
        aspect-ratio: 1;
        position: relative;
    }
    #other-random .random img{
        position: absolute;
        top:0;
        left:0;

    }
    #other-random .random:hover img{
        transform: scale(1.4);
        z-index: 99;
        border: 3px solid var(--color-section-head);
    }

#sect-1-btn-container{
   
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    width: 100%;
}
@media screen and (max-width:800px){
    #sect-1{
        padding:0;
    }
    .hero-btn{

    }
    #sect-1-btn-container{
       flex-wrap:wrap;
    }

    .random .caption{
        width:100%;
        text-align:center;
        font-size:0.8rem;
    }
}
@media screen and (max-width:500px){
    .text-container{
        gap:2rem;
    }
    .hero-btn{
        width:100%;
        padding:1rem 0;
    }
    #sect-1-btn-container{
       display:grid;
       grid-template-columns:1fr 1fr;
    }

    .random-container{
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .random-container .random{
        height:100px;
        width:100%;
    }
}
</style>

{% include global/header.html %}


<!-- Page content -->
<main class="page-content" id="main-content" style="background-color:transparent">
<section id="sect-1">
    <div class="text-container">
        <div style="text-align: center;">
            <h1><span style="color:rgb(0, 115, 25)">Nature.</span><span style="color:rgb(227, 102, 0)">Hungry</span></h1>
            <p style="margin:0;">A collection of community-made guides about Singapore's natural heritage</p>
        </div>
        <div id="sect-1-btn-container">
            <a class="hero-btn" href="/explore">
                <div class="icon-container">
                    <i class="ti ti-compass"></i>
                </div>
                <p>Explore</p>
            </a>
            <a class="hero-btn" href="/habitats">
                <div class="icon-container">
                   <i class="ti ti-map-search"></i>
                </div>
                <p>Habitats</p>
            </a>
            <a class="hero-btn" href="/articles/concepts">
                <div class="icon-container">
                <i class="ti ti-bulb"></i>
                </div>
                <p>Concepts</p>
            </a>
            
            <a class="hero-btn" href="/makeadiff/">
                <div class="icon-container">
                    <i class="ti ti-heart-handshake"></i>    
                </div>
                <p>Make a Difference</p>
            </a>
            

        </div>
    </div>


    <div class="random-container">
        
       
        
    </div>

</section>

<div id="other-random">

</div>

<section>
    <h2 class="text-center">Recent articles</h2>
    <br>
  {% for post in site.posts limit: 5 %}
    <a href="{{ post.url | relative_url }}" class="article-summary-item">
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt }}</p>
    </a>
  {% endfor %}
</section>


<script defer>
{% assign filtered_posts = "" | split: "," %}
{% assign filtered_plant_posts = "" | split: "," %}

{% for item in site.entries %}
  {% if item.path contains "tracheophyta/" %}
    {% assign filtered_plant_posts = filtered_plant_posts | push: item %}
  {% else %}
    {% assign filtered_posts = filtered_posts | push: item %}
  {% endif %}

{% endfor %}

{% assign random_posts = filtered_posts | sample: 70 %}

{% assign random_plant_posts = filtered_plant_posts | sample: 10 %}

const random_sample = [
{% for post in random_posts %}
{
  "title": {{ post.title | jsonify }},
  "scientificname": "{{ post.genus }} {{post.species}}",
  "url": {{ post.url | jsonify }}, 
  "external": {{ post.external | jsonify }}, 
  "externalurl": {{ post.externalurl | jsonify }}, 
  "coverimg": {{ post.smallcoverimg | default: post.coverimg | jsonify }}, 
  
}{% unless forloop.last %},{% endunless %}
{% endfor %}
,
{% for post in random_plant_posts %}
{
  "title": {{ post.title | jsonify }},
  "scientificname": "{{ post.genus }} {{post.species}}",
  "url": {{ post.url | jsonify }}, 
  "coverimg": {{ post.smallcoverimg | default: post.coverimg | jsonify }}, 
  
}{% unless forloop.last %},{% endunless %}
{% endfor %}
]

console.log(random_sample)

for (let i = random_sample.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [random_sample[i], random_sample[j]] = [random_sample[j], random_sample[i]];
}

const randomPosts = random_sample.slice(0, 4);
const otherRandom = random_sample.slice(3)

// 4. Render the posts
const container = document.getElementsByClassName('random-container')[0];
if (randomPosts.length > 0) {
let html = '';
randomPosts.forEach(post => {
    html += `
     <a class="random" href="${post.externalurl ? post.externalurl : post.url}" ${post.external ? 'external='+post.external : ''}>
        <img src="${post.coverimg}" alt="">
        <p class="caption">${post.title == '-' ? post.scientificname : post.title}</p>

    </a>
    `;
});
container.innerHTML = html;
}

const othercontainer = document.getElementById("other-random")
html = '';
otherRandom.forEach(post => {
    html += `
     <a class="random" href="${post.externalurl ? post.externalurl : post.url}" ${post.external ? 'external='+post.external : ''}>
        <img src="${post.coverimg}" alt="">
    </a>
    `;
});
othercontainer.innerHTML = html;

</script>

</main>

{% include global/footer.html %}